body {
  background-color: #5d4fac;
  color: #ffffff;
  font: normal 20pt arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.conteudo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
h1 {
  margin: 0;
  color: #ffd35c;
}
p {
  color: #3a1366;
  margin: 0.4rem;
  font-weight: 600;
  color: #3a1366;
}
.main strong {
  text-transform: capitalize;
}
::selection {
  background: rgb(66, 23, 168);
  color: rgb(255, 255, 255);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-pesquisa {
  padding: 3rem;
  background-color: #7f6cec;
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 10px 20px -15px #3a1366;
}
.box-pesquisa p {
  color: #ffffff;
  margin: 0;
  font-weight: 200;
}
.box-pesquisa input {
  border-radius: 20px;
  border: none;
  padding: 7px;
  font-size: 1.1rem;
  color: #3a1366;
}
.box-pesquisa button {
  border: none;
  padding: 20px;
  color: #7f6cec;
  background-color: #ffd35c;
  border-radius: 20px;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;

}
::-webkit-scrollbar {
  background: ;
  width: 15px;
}
::-webkit-scrollbar-track {
  background: ;

}
::-webkit-scrollbar-thumb {
  background: #6f5dd1;
}
::-webkit-scrollbar-thumb:hover {

}
::-webkit-scrollbar-track-piece {
  background: #3a1366;

}
::-webkit-scrollbar-corner {
  background: rgb(255, 255, 255));
}

